@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-full-page-media,
:future,
:root body {
  --vh100: 100svh;
}
body {
  --vh100: 100vh;
  min-height: 100vh;
  min-height: var(--vh100);
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #0e6dfd;
  }
}

nav .title {
  font-size: 1.55rem;
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  border-style: inherit;
}

// メインカラー
$main: rgb(20, 214, 182);
.text-main {
  color: $main !important;
}
.bg-main {
  background-color: $main !important;
}
.border-main {
  border-color: $main !important;
}
.btn-main {
  background-color: $main !important;
  border-color: $main !important;
  color: white !important;
}
.btn-outline-main {
  color: $main !important;
  border-color: $main !important;
  background-color: white !important;
}

.title-border-main,
h1 {
  border-left: 8px solid $main;
  border-bottom: 2px solid $main;
  padding: 4px 16px;
  margin-bottom: 16px !important;
}
