.collapsableFast {
  transition: padding 0.5s;
  padding: 0 0;
  &.active {
    padding: 10px 0;
  }
}
.collapsable {
  transition: padding 1s;
  padding: 0 0;
  &.active {
    padding: 15px 0;
  }
}

.shrinkLeft {
  transition: padding 1s;
  padding-right: -20px;
  &.active {
    padding-right: 0.5rem;
  }
}
.collapsableRight {
  transition: padding 1s;
  padding-left: 20px;
  &.active {
    padding-left: 0.5rem;
  }
}
