%h3 管理者ページ
.list-group
  = link_to 'チャンネル一覧', admin_channels_path, class: 'list-group-item list-group-item-action'
  = link_to '動画一覧', admin_channels_path, class: 'list-group-item list-group-item-action'
